@model IEnumerable<E_Commerce_App.Models.Categorie>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
                     @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
         

            <td>
                <a href="/Products/getCat?id=@item.Id"  class="btn btn-dark">
                    <i class="bi bi-x"></i>
                    Show
                </a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))

                {<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a>} |
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))

                               { <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-dark">Delete</a>}
                                
                     <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">
                    <i class="bi bi-x"></i>
                    Details
                </a> 

            </td>

        </tr>
}
    </tbody>
</table>
